/* app css stylesheet */

/* boilerplate */

body {
    background: #eee;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 1.0;
    font-weight: bold;
    color: #222;
}

ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
    position: relative;
}

form {
    padding: 1.5em;
    font-size: 14px;
}

input {
    width: 75%;
    padding:1em;
    border:1px solid rgba(0,0,0,0.2);
}

textarea {
    width: 75%;
    padding:1em;
    border:1px solid rgba(0,0,0,0.2);
}


button {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 1.0;
    font-weight: bold;

    background: #eee;
    padding:0.75em;
    margin:0.5em;
    border:3px solid #222;
    outline:none;
}

button:hover {
    background:#222;
    color:#fff;
}

/* custom */

li div {
    background:transparent;
}

.add {
    position: relative;
    text-align: center;
    padding:1em;
}


li h1 {
    background: #eee;
    margin:0.125em;
    margin-top: 1em;
    padding:0.125em;
    text-align: center;

    font-family: 'Helvetica', sans-serif;
    font-size: 48px;
    line-height: 1.0;
    font-weight: bold;
    color: #222;
}

.panelcollectioncontrol {
    width:500px; margin:0 auto;
    padding: 0;
    padding-bottom: 1em;
    background: url('../img/centertrunk.png');
    position: relative;
}

.panel {
    border-radius:0;
    border:3px solid #222;
    height: 500px;
    background: #eee;
    position: relative;
    margin-bottom: 0;
}

.panelbuttons {
    position: absolute;
    z-index: 1000;
    padding:0;
    margin:0;
    text-align: right;
    right:0px;
    top:0px;
}

.panelbuttons button {
    border-top:none;
    border-right: none;
    background: transparent;
}

.editbutton {
    border-right:none;
}

.backgroundimage {
    position: absolute;
    z-index: 1;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    width:494px;
    height:494px;
    overflow:hidden;
}

.backgroundimage img {
    z-index: 1;
}

.caption {
    position: absolute;
    z-index: 999;
    top:0.5em;
    left:0.5em;
    padding:1em;
    background:#222;
    color:#ddd;
    border:1px solid rgba(255,255,255,0.333);
    text-align: center;
    max-width: 320px;
}

.wireframecaption {
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    margin:auto;
    font-size: 36px;
    line-height: 100%;
    height:72px; width:80%;
    text-align: center;
}

.editpanel {
    z-index: 1000;
    position: absolute;
    top:0;
    left:0;
    padding: 0;
    margin:0;
    width: 100%;
    height: 100%;
    background: #eee;
    border:none;
}

.panelbuttons button {
    margin:0;
    background: #eee;
}

.panelbuttons button:hover{
    background: #222;
    color:#fff;
}

.dotdotdotoptions {
    background: #fff;
    margin-top:-3px;
}

.dotdotdotoptions button {
    width:100%;
    background:transparent;
}

.dotdotdotoptions button:hover {
    background:#222;
    color:#fff;
}

.joint {
    background: #ddd;
    text-align: center;
    width: 500px;
    margin:0;
    border: 3px solid #222;
}

.sequenceHandle {
    float: left;
    width:245px;
    height:245px;
    padding:0;
    position: relative;
    background: transparent;
    margin-bottom: 4px;
}

.sequenceHandle:hover{
    cursor: pointer; cursor: hand;
}

.sequenceHandle .backgroundimage {
    position: absolute;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 1;
    overflow: hidden;
    border:none;
}

img.backgroundimage {
    border:none;
}

.sequenceHandle .text {
    color: #222;
    position: absolute;
    top:0;
    left:0;
    padding: 1em;
    z-index: 1000;
    text-align: left;
    text-shadow: -1px 0 rgba(255,255,255,0.125), 0 1px rgba(255,255,255,0.125),
    1px 0 rgba(255,255,255,0.125), 0 -1px rgba(255,255,255,0.125)
}

.selected {
    z-index: 1000;
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    margin:auto;
    height:96px; width:75%;
    text-align: center;
    text-shadow: -1px 0 rgba(255,255,255,0.125), 0 1px rgba(255,255,255,0.125),
    1px 0 rgba(255,255,255,0.125), 0 -1px rgba(255,255,255,0.125)
}

.selectedSign {
    font: bold 96px/96px 'Helvetica', sans-serif;
    color: #222;

}

.commentcontainer {
    width: 140px;
    font-size:14px;
    position:absolute;
    left:500px;
    z-index: 0;
    margin-left: 2em;
    margin-top: 0.25em;
    min-height: 500px;
}

.comment {
    border-top:1px solid #ccc;
    padding-top: 1em;
    padding-left:0;
    line-height: 1.5;
    font-family: Vollkorn;
    font-weight: 400;
    font-style: italic;
    color:#666;
}
.sequenceHandle .panelbuttons {
    position: absolute;
    z-index: 10000;
    padding:0;
    text-align: right;
    right:0;
    top:0;
    background:transparent;
    margin:1px;
    font-size: 4px;
}
.sequenceHandle .panelbuttons button {
    border: none;
    background:#fff;
    color: #222;
    font-size: 14px;
}
.sequenceHandle .panelbuttons button:hover{
    background:#222;
    color:#fff;
}

.sequenceHandle .editpanel {
    z-index:5000000;
    width:100%;
    height:100%;
    text-align: left;
}

.sequenceHandle form {
    margin-top:1em;
}

.addjoint{
    margin-top: 0;
    margin-bottom: -2em;
    padding: 0;
    text-align: center;
}

.addjoint button {
    border:9px double #222;
}

.commentcontainer ul {
    margin-top:1em;
}

.commentcontainer ul li {
    margin-bottom: 1em;

    font-family: Vollkorn;
    font-weight: 400;
    font-style: italic;
    color:#666;
    text-transform: uppercase;
    font-size: 70%;
    line-height: 1.5;

    border:1px solid rgba(0,0,0,0.125);
    padding:1em;
    text-align: center;
    background: transparent;
}
.commentcontainer ul li:hover {
    background:#222;
    color:#fff;
    cursor: pointer; cursor: hand;
}

.over {
    cursor: pointer; cursor: hand;
}

.add {
    margin-bottom: 1em;
    margin-top:1em;

}

.add button {
    margin:0;
}

.adddotdotdot {
    width: 42px;
    border-left: none;
    margin-right: 42px;
    text-align: center;
}

.well {
    margin-top:-1.1em;
    background:#eee;
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 0em;
    border:none;
    border-radius: 0; -webkit-box-shadow: none; box-shadow: none;
}

.well hr {
    color: #222;
    background-color: #222;
    height: 3px;
    width:50%;
    margin-top:1em;
}

.well ul {
    width: 40%;
    left:0; right:0;
    margin:auto;
}
.well li {
    padding:0.66em;
    background:#eee;
    border: 3px solid #222;
    margin-bottom: 0.5em;
    cursor: pointer; cursor: hand;

}
.well li:hover{
    background:#222;
    color:#fff;
}
.well li.disabled {
    text-decoration:line-through;
    cursor: auto;
    opacity: 0.25;
}
.well li.disabled:hover{
    background:#eee;
    color:#222;
    cursor: auto;
}
button.disabled{
    text-decoration:line-through;
    cursor: auto;
    opacity: 0.25;
}
button.disabled:hover{
    background:#eee;
    color:#222;
    cursor: auto;
}