/* app css stylesheet */

/* boilerplate */

body {
    background: #eee;
    font: bold 18px/18px 'Helvetica', sans-serif;
    color: #222;
}

ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
    position: relative;
}

form {
    padding-left:1.5em;
    padding-top: 1em;
}

input {
    width: 75%;
    padding:1em;
    border:1px solid rgba(0,0,0,0.2);
}

textarea {
    width: 75%;
    padding:1em;
    border:1px solid rgba(0,0,0,0.2);
}


button {
    font: bold 18px/18px 'Helvetica', sans-serif;
    background: #eee;
    padding:0.75em;
    margin:0.5em;
    border:0.21em solid #222;
    outline:none;
}

button:hover {
    background:#222;
    color:#eee;
}

/* custom */

li div {
    background:transparent;
}

.add {
    text-align: center;
    padding:1em;
}

li h1 {
    margin-bottom:0.25em;
    background: #eee;
    padding:0.5em;
    text-align: center;
    font: bold 48px/48px 'Helvetica', sans-serif;
    color: #222;
}

.panelcollectioncontrol {
    width:500px; margin:0 auto;
    padding: 0;
    padding-bottom: 1em;
    background: url('../img/centertrunk.png');
    position: relative;
}

.panel {
    border-radius:0;
    border:0.2em solid #222;
    height: 500px;
    background: #eee;
    position: relative;
    margin-bottom: 0;
}

.panelbuttons {
    position: absolute;
    z-index: 1000;
    padding:0;
    margin:-3px;
    text-align: right;
    right:0;
    top:0;
}

.editbutton {
    border-right:none;
}

.backgroundimage {
    position: absolute;
    z-index: 1;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    width:494px;
    height:494px;
    overflow:hidden;
}

.backgroundimage img {
    z-index: 1;
}

.caption {
    position: absolute;
    z-index: 999;
    top:0.5em;
    left:0.5em;
    padding:1em;
    background:#333;
    color:#ddd;
    border:1px solid #ddd;
    text-align: center;
    max-width: 320px;
}

.wireframecaption {
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    margin:auto;
    font-size: 36px;
    line-height: 100%;
    height:72px; width:80%;
    text-align: center;
}

.editpanel {
    z-index: 1000;
    position: absolute;
    top:0;
    left:0;
    width: 494px;
    height: 494px;
    background: #eee;
    border:1px solid rgba(0,0,0,0.25);
}

.panelbuttons button {
    margin:0;
    background: #eee;
}

.panelbuttons button:hover{
    background: #222;
    color:#eee;
}

.dotdotdotoptions {
    background: #fff;
    margin-top:-3px;
}

.dotdotdotoptions button {
    width:100%;
    background:transparent;
}

.dotdotdotoptions button:hover {
    background:#222;
    color:#eee;
}

.joint {
    background: #eee;
    text-align: center;
    width: 500px;
    margin:0;
    border: 3px solid #222;
}

.sequenceHandle {
    float: left;
    width:245px;
    height:245px;
    padding:0;
    margin: 1px;
    position: relative;
    background: #222;
    overflow:hidden;
}

.sequenceHandle .backgroundimage {
    position: absolute;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    width:245px;
    height:245px;
    opacity: 0.9;
}

.sequenceHandle .text {
    color: #eee;
    position: absolute;
    top:1em;
    left:1em;
    z-index: 1000;
}

.selected {
    z-index: 1000;
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    margin:auto;
    height:96px; width:75%;
    text-align: center;
}

.selectedSign {
    font: bold 96px/96px 'Helvetica', sans-serif;
    color: #222;
}

.commentcontainer {
    width: 140px;
    font-size:14px;
    position:absolute;
    left:500px;
    z-index: 0;
    margin-left: 2em;
    margin-top: 0.25em;
    min-height: 500px;
}

.comment {
    border-top:1px solid #ccc;
    padding-top: 1em;
    padding-left:0;
    /*
    width:90px;
    height:90px;
    border-radius: 45px;
    padding-top: 1.5em;
    background: #fff;
    text-align: center;
    */
    font-family: Vollkorn;
    font-weight: 400;
    font-style: italic;
    color:#666;
}
.sequenceHandle .panelbuttons {
    position: absolute;
    z-index: 10000;
    padding:0;
    text-align: right;
    right:0;
    top:0;
    background:transparent;
    margin:1px;
    font-size: 4px;
}
.sequenceHandle .panelbuttons button {
    border: none;
    background:#999;
    color:#fff;
    font-size: 14px;
}
.sequenceHandle .panelbuttons button:hover{
    background:#222;
}

.sequenceHandle .editpanel {
    z-index:5000000;
    width:100%;
    height:100%;
    text-align: left;
}

.addjoint{
    margin-top: 0;
    margin-bottom: -2em;
    padding: 0;
    text-align: center;
}

.addjoint button {
    border:9px double #222;
}