<div ng-switch on="node.type">
    <div ng-switch-when="frame">
        <div class="add" ng-hide="!$first"><button ng-click="addPanelAtFirstSibling(node)">add panel</button></div>
        <div class="panel" ng-mouseenter="hover(node)" ng-mouseleave="hover(node)">
            <div ng-switch on="node.celltype">
                <div ng-switch-when="caption">
                    <div class="caption">
                        {{node.caption}}
                    </div>
                    <div class="backgroundimage"><img ng-src="img/{{node.image}}.png" err-src="{{errorImage}}" width="500" height="500"></div>
                </div>
                <div ng-switch-when="nocaption">
                    <div class="backgroundimage"><img ng-src="img/{{node.image}}.png" err-src="{{errorImage}}" width="500" height="500"></div>
                </div>
                <div class="wireframecaption" ng-switch-when="wireframe">
                    {{node.caption}}
                </div>
            </div>
            <div class="panelbuttons" ng-hide="!node.shouldShowEditButton">
                <button class="editbutton" ng-click="editClicked(node)">edit</button><button ng-click="dotdotdotClicked(node)"><i style="font-size:90%" class="fa fa-caret-down"></i></button><div class="dotdotdotoptions">
                <button ng-click="removeClicked(node)" ng-hide="!node.shouldShowExtendedOptions">remove</button>
            </div>
            </div>
            <div class="editpanel" ng-hide="!node.shouldShowEditPanel">
                <div class="panelbuttons">
                    <button ng-click="editDone(node)">done</button>
                </div>
                <form role="form">
                    <div class="form-group">
                        <label>caption</label><br>
                        <textarea ng-model="node.caption"></textarea>
                    </div>
                    <div class="form-group">
                        <label>image</label><br>
                        <input ng-model="node.image">
                    </div>
                    <div class="form-group">
                        <label>cell type</label><br>
                        <select ng-model="node.celltype" ng-options="type for type in availableCellTypes"></select>
                    </div>

                </form>
            </div>
        </div>

        <div class="add dropdown" ng-mouseenter="connectionHover(node)" ng-mouseleave="isCollapsed=true;connectionHover(node);">
            <div ng-style="{opacity: node.shouldShowAddButtons? 1 : 0}"><button class="addpanel" ng-click="addPanelAfter(node, $index)">add panel</button><button ng-click="isCollapsed=!isCollapsed" class="adddotdotdot"><i style="font-size:90%" class="fa fa-caret-down"></i></button>
                <div class="addoptions" collapse="isCollapsed">
                    <div class="well">
                       <hr>
                       <ul>
                           <li>add joint</li>
                           <li>paste sequence</li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-switch-when="joint">
        <div class="commentcontainer" ng-mouseenter="jointHover(node)" ng-mouseleave="jointHover(node)">
            <div class="comment">
                joint with {{node.children.length}} branches
            </div>
            <ul ng-hide="!node.shouldShowJointButtons">
                <li ng-click="addNewBranchToJoint(node)">add branch</li>
                <li ng-click="removeClicked(node)">remove joint (and everything beneath it)</li>
            </ul>
        </div>
        <div class="joint" ng-style="{
                height: node.children.length%2==0 ? 125 * node.children.length + 'px' : 125 * (node.children.length+1) + 'px'
            }">
            <div ng-style="{marginRight:($index%2==0) ? '4px' : '0px'}" class="sequenceHandle" ng-repeat="seq in node.children" ng-mouseenter="hover(seq)" ng-mouseleave="hover(seq)">
                    <img ng-click="selectedClicked(node, $index)" class="backgroundimage" ng-src="img/{{seq.image}}.png" err-src="{{errorImage}}" width="318" height="318">
                    <div style="pointer-events:none" class="text">{{seq.caption}}</div>
                    <div style="pointer-events:none" class="selected" ng-hide="!isIndexSelected(node, $index)">
                        <div class="selectedSign">&#x2715;</div>
                        <small>selected</small>
                    </div>
                    <div class="panelbuttons" ng-hide="!seq.shouldShowEditButton">
                        <button ng-click="editClicked(seq)">edit</button> <button ng-click="dotdotdotClicked(seq)"><i style="font-size:90%" class="fa fa-caret-down"></i></button><div style="margin-top:1px;" class="dotdotdotoptions" ng-hide="!seq.shouldShowExtendedOptions">
                        <button ng-click="removeSequence(seq)">remove</button>
                        </div>
                    </div>
                <div class="editpanel" ng-hide="!seq.shouldShowEditPanel">
                    <div class="panelbuttons">
                        <button ng-click="editDone(seq)">done</button>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <label>caption</label><br>
                            <textarea ng-model="seq.caption"></textarea>
                        </div>
                        <div class="form-group">
                            <label>image</label><br>
                            <input ng-model="seq.image">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="commentcontainer" ng-mouseenter="sequenceHover(node)" ng-mouseleave="sequenceHover(node)">
            <div class="comment">
                panel sequence (beginning with the branch &ldquo;{{node.children[node.selected].caption}}&rdquo;)
                <!--
                <ul ng-hide="!node.shouldShowSequenceButtons">
                    <li ng-click="removeClicked(node.children[node.selected])">remove sequence (and everything beneath it)</li>
                </ul>
                -->
            </div>
        </div>
        <ul>
            <li ng-repeat="node in node.children[node.selected].nodes" ng-include="'partials/tree_item_renderer.html'"></li>
        </ul>
    </div>
</div>