<!doctype html>
<html lang="en" ng-app="theApp">
<head>
  <meta charset="utf-8">
  <title>Cartoonist Author</title>

    <!-- Bootstrap -->
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Vollkorn:400italic,400,700italic,700" rel="stylesheet" type="text/css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>

    <!-- app -->
    <link rel="stylesheet" href="css/app.css"/>
    <script src="lib/cartoonist.js"></script>
</head>
<body>

<div class="panelcollectioncontrol" ng-controller="PanelCollectionCtrl">
    <ul>
        <li><h1>the story</h1></li>
        <div class="commentcontainer"><div class="comment">panel sequence</div></div>
        <li ng-repeat="node in root.nodes" ng-include="'partials/tree_item_renderer.html'"></li>
    </ul>
    <div ng-click="addJointClicked()" class="addjoint"><button>add joint</button></div>

</div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>

</body>
</html>
